@import url('https://fonts.googleapis.com/css2?family=Inter&family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');



*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    color: white;
    background-color: black;
    font-family: 'Inter', sans-serif;
    /* font-family: 'Outfit', sans-serif;
    font-family: 'Young Serif', serif; */
}

.main-container {
    background-color: rgb(23, 22, 22);
    margin: 5rem 36rem;
    padding: 1rem 3rem 3rem 3rem;
    align-items: center;
    border-radius: 0.3rem;

}

img{
    margin: 1rem 1rem 1rem 5rem;
    border-radius: 5rem;;
    width: 6rem;
    height: 6rem;
}

.user-name{
    margin: 0.5rem;

}

.location{
    margin: 0.8rem;
    font-size: small;
    color: yellow ;
}

.bio{
    font-size: small;
}

.social-media{
    display : flex;
    flex-direction: column;
    padding: 0.1rem;
    /* margin: 1rem; */
}

button {

    margin: 0.4rem;
    padding: 0.6rem;
    border-radius: 0.3rem;
    color: white;
    background-color: rgb(43, 42, 42);
    font-family: 'Inter', sans-serif;
    font-weight:bolder;
}

.flexbox{
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 375px){

    .main-container{
        margin: 2.7rem;
        padding: 0.6rem;

    }
}